.modal {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: auto;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    text-align: center;
}

.modalHeading {
    text-align: center;
}

.modalSubheading {
    color: grey;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
}

.modalGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
}

.modalInput {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
}