.modal {
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 500px;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
    text-align: center;
}

.modalTabs {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 12px 0;
}


.tab:hover:not(.active) {
    background-color: rgba(66, 133, 244, 0.08);
}

.tab.active {
    background-color: white;
    color: #4285f4;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
}

.searchBar { 
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 24px;
    box-sizing: border-box;
}

.searchBar input {
    border: none;
    outline: none;
    width: 100%;
}

.selectedCustomers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 4px 0;
    overflow-y: auto;
    height: 80px;
}

.selectedCustomerCard {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 4px;
    background-color: #e8f0fe;
    border-radius: 16px;
    height: 32px;
}

.removeIcon {
    cursor: pointer;
    color: #5f6368;
}

.customersList {
    height: 250px;
    overflow-y: auto;
    border-top: 1px solid #ddd;

}

.customerCard {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    cursor: pointer;
}

.customerImage {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.customerInfo {
    display: flex;
    flex-direction: column;
}

.customerName {
    font-weight: 500;
}

.customerEmail {
    font-size: 14px;
    color: #5f6368;
}

.modalButtons {
    display: flex;
    justify-content: space-between;
}

.noResults {
    padding: 12px;
    text-align: center;
    color: #5f6368;
}