.customers {
    padding: 40px 200px;
}

.search {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding-top: 20px;
}

.searchLabels {
    display: flex;
    justify-content: space-between;
    color: grey;
}

.searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
}