.customerDetails {
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 70vw;
    max-width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.detailsHead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.detailsButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.detailsBody {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailsBody img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.customerDetailsGrid {
    max-width: 500px;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}

.customerDetailsGrid p {
    margin: 0;
    padding: 10px;
    border-radius: 8px;
}

.customerDetailsGrid .classifier {
    font-weight: bold;
    color: #333;
}

.detailsPage {
    margin: 2vw 1em;
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 10px;
    justify-items: center;
    padding-bottom: 2em;
}

@media (max-width: 768px) {
    .detailsPage {
        grid-template-columns: 1fr;
    }
}