body {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    background-color: #2563eb;
    color: white;
}

.navbar a {
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}

.options {
    padding-right: 140px
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    flex: 1;
    padding: 0 80px;
    min-height: 80vh;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #2563eb;
    color: white;
}