body {
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2em;
    background-color: #121C4E;
    color: white;
}

.navbar a {
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}

.options {
    padding-right: 140px;
    display: flex;
    gap: 1em;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px 1em;
    }
    .options {
        padding-right: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
        gap: 0.5em;
    }
    .navbar a {
        padding: 8px 12px;
        font-size: 1em;
    }
}


.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    display: flex;
    flex: 1;
    padding: 0 5em;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

footer {
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin-top: 10px;
    background-color: #121C4E;
    color: white;
}